/* reset dasar */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* body dan background */
html, body {
  height: 100%;
}

body {
  /* background: linear-gradient(180deg, #ff99aa 0%, #ff4848 100%); */
  font-family: 'Poppins', sans-serif;
  background-color: #1c1c1f;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121214;
    padding: 15px 40px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-size: 1.5em;
    font-weight: 600;
    color: #faf9fc;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 25px;
}

.nav-links a {
    color: #ddd;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    color: #cf385e;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.search-box {
    position: relative;
}

.search-box input {
    padding: 6px 30px 6px 10px;
    border-radius: 20px;
    border: none;
    background-color: #1c1c1f;
    color: #fff;
}

.search-box i {
    position: absolute;
    right: 10px;
    top: 7px;
    color: #888;
}

.btn-auth,
.btn-auth-outline {
    padding: 8px 15px;
    border-radius: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

.btn-auth {
    background-color: #ff3366;
    border: none;
    color: #fff;
}

.btn-auth:hover {
    background-color: #ff5b80;
}

.btn-auth-outline {
    border: 1px solid #ff3366;
    background: transparent;
    color: #ff3366;
}

.btn-auth-outline:hover {
    background-color: #ff3366;
    color: #fff;
}
/* section umum */
section {
  padding: 80px 60px;
  text-align: center;
  background: transparent;
  flex: 1;
}

section h2 {
  color: #ff3366;
  font-size: 28px;
  margin-bottom: 20px;
}

section p {
  max-width: 750px;
  margin: 0 auto;
  font-size: 17px;
  color: #adadad;
  line-height: 1.8;
}

/* team */
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
  margin-top: 30px;
}

.member {
  flex: 0 0 180px;
  background: rgba(63, 52, 52, 0.9);
  border-radius: 15px;
  padding: 20px 10px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.member:hover {
  transform: translateY(-8px);
}

.member img {
  display: block;
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #ff3366;
  margin: 0 auto 10px;
}

.member h3{
  color: #8f8a8a;
}

/* contact */
.contact {
  text-align: center;
  padding: 80px 20px;
}

.contact h2 {
  font-size: 2em;
  color: #ff3366;
  margin-bottom: 20px;
}

.email {
  font-weight: bold;
  color: #ff3366;
  margin: 20px 0;
}

.socials a {
  margin: 0 15px;
  font-size: 1.8em;
  color: #ff3366;
  transition: 0.3s;
}

.socials a:hover {
  color: #e6004c;
  transform: scale(1.1);
}

/* footer sticky */
footer {
  background-color: #121214;
  color: white;
  text-align: center;
  padding: 25px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  margin-top: auto;
}
